body {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
header {
	background: url("./image/laptop-glowing-in-the-dark-min.jpg");
	background-position: center;
	background-size: cover;
	height: 50vh;
}
.nav-wrapper {
	padding: 1rem;
}
.header-div {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	margin-top: 3rem;
}
.side-nav {
	padding-top: 1rem;
}
.cta {
	padding-top: 1rem;
}
.cta .btn {
	transition: transform 1s;
}
.cta .btn:hover {
	transform: scale(1.2);
}

.container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 1rem;
}
section {
	padding-bottom: 1rem;
}
.info {
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	padding: 1rem 0.2rem 0 0.2rem;
	width: 90vw;
	margin: 0 auto;
}
.info-word {
	width: 60%;
}
.info-word h6 {
	font-weight: bold;
}
.read-more {
	outline: none;
	border: none;
	box-shadow: none;
}
.image {
	height: 100%;
	width: 70%;
	object-fit: cover;
}
.image img {
	object-fit: cover;
	width: 50%;
}

.about,
.skills,
.certifications,
.footer-div {
	width: 90vw;
	margin: 0 auto;
}
.skill-list {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-align: start;
}

li {
	width: 30%;
	padding: 1rem 0;
	font-weight: 600;
	display: flex;
	margin-bottom: 1rem;
	align-items: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.footer-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-lists {
	display: flex;
	flex-direction: row;
}
.logo {
	padding-top: 1rem;
}
footer {
	border-top: 1px dotted rgb(247, 14, 14);
}
@media screen and (max-width: 400px) {
	h2 {
		font-size: 1rem;
	}
	h4 {
		font-size: 1.2rem;
	}
	.cta .btn {
		margin-bottom: 1rem;
	}
	.material-icons {
		font-size: 1rem !important;
	}
	.image {
		width: 40%;
	}
	.image img {
		width: 80%;
	}
	li {
		width: 45%;
	}
	.info-word {
		width: 60%;
	}
	.info .info-text {
		font-size: 1rem;
	}

	.footer-div {
		flex-direction: column;
	}
}
